@model OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model.products)
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="control-label"> Price: @item.Price </label>
                <br>
                <label class="control-label">  Amount of items in stock: @item.Stock </label>
                <br>
                <label class="control-label"> Productname: @item.productName </label>
            </div>
        </div>
    </div>
}
