
@model OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
</form>
<section>
    <img width="200" height="200" src="~/img/oracle-red-bull-racing-2022-team-hooded-sweat.jpg" />
    <br />
    <label>Hooded Sweater</label>
     <input type="hidden" name="Cap" value="1" />
    <a asp-area="" asp-controller="Product" asp-action="Index">Order</a>
</section>
<section>
    <img width="200" height="200" src="~/img/Red-bull-racing-Cap-2022.jpg" />
    <br />
    <label>Cap</label>
    <a type="button" asp-area="" asp-controller="Product" asp-action="Index">Order</a>
</section>