@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method ="post">
    <label for="product-name">choose a product</label>
    <select name="product-names" id="product-name">
        <option value="Cap">Cap</option>
        <option value="Shirt">Shirt</option>
    </select>
        <input type="submit" value="Add to cart" />
    </form>


        <section>
            <h1> @Model.Price </h1>
        </section>

    