@*@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method ="post">
    <label for="product-name">choose a product</label>
    <select asp-for="Productname" asp-items="Model.Productnames">
    </select>
        <input type="submit" value="Add to cart" />
    </form>
        <section>
            <label>Price:</label>
            <p> @Model.Price </p>
            <label>Stock:</label>
            <p> @Model.Stock</p>
            <label>Points</label>
            <p> @Model.Points </p>
            <label>Productname</label>
            <p> @Model.Productname </p>
        </section>

*@
    