@model ProductViewModel
<form method="post">
<label asp-for="Price">price</label>
<input asp-for="Price" type="text" />
<p>
    <input type="submit" value="enter" />
</p>
</form>
<label>Points gained</label>
@Model.Points