@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var item in Model.products)
{
    <div class="row" >
        <div class="col">
            <div class="form-group">
                <label class="control-label"> @item.Price </label>
                <label class="control-label"> @item.Stock </label>
                <label class="control-label"> @item.productName </label>
            </div>
        </div> 
    </div>
}



