@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="get">
    <section class="Hooded_Sweater">
        <img width="200" height="200" src="~/img/oracle-red-bull-racing-2022-team-hooded-sweat.png" />
        <br />
        <center>
            <label><strong>Red-Bull original Hooded Sweater</strong></label>
        </center>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Hooded_Sweater" />
        <br/>
        <input class="btn" name="Go" type="submit" value="Show Information">
    </section>
</form>
<form  method="get">
    <section class="cap">
        <img width="200" height="200" src="~/img/Red-bull-racing-Cap-2022.png" />
        <br/>
        <center>
            <label><strong>Red-Bull original Cap</strong></label>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Cap" />
        </center>
        <br/>
        <input class="btn" name="Go" type="submit" value="Show Information">
    </section>
</form>
<form method="get">
    <section class="Tshirt">
        <img width="200" height="200" src="~/img/Tshirt Red bull.png" />
        <br />
        <center>
            <label><strong>Red-Bull original Tshirt</strong></label>
        </center>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Tshirt" />
        <br />
        <input class="btn" name="Go" type="submit" value="Show Information">
    </section>
</form>
<form method="get">
    <section class="Maxworldchampion_Tshirt">
        <img width="200" height="200" src="~/img/Max Worldchampion T-shirt.png" />
        <br />
        <center>
            <label><strong>Max Verstappen world champion Tshirt</strong></label>
        </center>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Maxworldchampion_Tshirt" />
        <br />
        <input class="btn" name="Go" type="submit" value="Show Information">
    </section>
</form>

@if (Model.products != null)
@foreach (var item in Model.products)
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                    <h1>ProductInformation</h1>
                <strong>
                <label class="control-label"> Price: €@item.Price </label>
                <br>
                <label class="control-label">  Amount of items in stock: @item.Stock </label>
                <br>
                <label class="control-label"> Productname: @item.productName </label>
                    </strong>
            </div>
                <form method="get">
                    <button class="btn" name="button" value="Order">Order</button>
                </form>
        </div>
    </div>
}



<style scoped>
    .cap {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .Hooded_Sweater {
        position: absolute;
        top: 10%;
        left: 30%;
    }
    .Tshirt{
        position: absolute;
        top: 10%;
        left: 50%;
    }

    .Maxworldchampion_Tshirt{
        position: absolute;
        top: 50%;
        left: 10%;
    }
    .row{
        position: absolute;
        top: 15%;
        left: 75%;
    }

    body {
        background-color: dodgerblue;
    }

    .btn {
        background-color: blue;
        border-radius: 50px;
        border-width: 0;
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: Arial, sans-serif;
        font-size: 1em;
        height: 50px;
        padding: 0 25px;
        transition: all 200ms;
    }
</style>
