@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<label>Price:</label>
<p> @Model.Price </p>
<label>Stock:</label>
<p> @Model.Stock</p>
<label>Points</label>
<p> @Model.Points </p>
<label>Productname</label>
<p> @Model.Productname </p>



