@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <section class="Hooded_Sweater">
        <img width="200" height="200" src="~/img/oracle-red-bull-racing-2022-team-hooded-sweat.jpg" />
        <br />
        <label>Red-Bull original Hooded Sweater</label>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Hooded_Sweater" />
        <br/>
        <input name="loaded" type="submit" value="Show Information">
    </section>
</form>
<form  method="post">
    <section class="cap">
        <img width="200" height="200" src="~/img/Red-bull-racing-Cap-2022.jpg" />
        <br/>
        <label>Red-Bull original Cap</label>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Cap" />
        <br/>
        <input name="loaded" type="submit" value="Show Information">
    </section>
</form>
<form method="post">
    <section class="Tshirt">
        <img width="200" height="200" src="~/img/Tshirt-Red-bull.jpg" />
        <br />
        <label>Red-Bull original Tshirt</label>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Tshirt" />
        <br />
        <input name="loaded" type="submit" value="Show Information">
    </section>
</form>



@if (Model.products != null)
@foreach (var item in Model.products)
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="control-label"> Price: @item.Price </label>
                <br>
                <label class="control-label">  Amount of items in stock: @item.Stock </label>
                <br>
                <label class="control-label"> Productname: @item.productName </label>
            </div>
                <form method="post">
                    <button name="button" value="Order">Order</button>
                </form>
        </div>
    </div>
}








<style scoped>
    .cap {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .Hooded_Sweater {
        position: absolute;
        top: 10%;
        left: 30%;
    }
    .Tshirt{
        position: absolute;
        top: 10%;
        left: 50%;
    }
    .row{
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
</style>
