@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <section>
        <img width="200" height="200" src="~/img/oracle-red-bull-racing-2022-team-hooded-sweat.jpg" />
        <br />
        <label>Hooded Sweater</label>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Tshirt" />
        <input type="submit" value="Information">
    </section>
</form>
<form method="post">
    <section>
        <img width="200" height="200" src="~/img/Red-bull-racing-Cap-2022.jpg" />
        <br/>
        <label>Cap</label>
        <input asp-for="ProductName" id="Productname" name="Productname" type="hidden" value="Cap" />
        <input type="submit" value="Information">
    </section>
</form>
<input asp-area="" asp-controller="Product" asp-action="BuyProduct" type="submit" />


@if (Model.products != null)
@foreach (var item in Model.products)
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="control-label"> Price: @item.Price </label>
                <br>
                <label class="control-label">  Amount of items in stock: @item.Stock </label>
                <br>
                <label class="control-label"> Productname: @item.productName </label>
            </div>
        </div>
    </div>
}


